@import "makesite";
.wrap {
	height: 100vh;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.add-field {
		width:340px;
		height: 250px;
	}
	.btn {
		display: block;
		margin: 0.7em;
		font-size: 1em;
	}
}